In [1]:
import pandas as pd

# Load the Customers dataset
customers = pd.read_csv(r'C:\Users\manis\Downloads\Customers.csv', encoding='latin1')


# Display the first few rows and general information about the dataset
print(customers.head())
print(customers.info())

   CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  WANDEARAH EAST         SA
1          325  Female       Madison Hull      MOUNT BUDD         WA
2          554  Female      Claire Ferres       WINJALLOK        VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER         SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH        VIC

               State Zip Code    Country  Continent    Birthday
0    South Australia     5523  Australia  Australia    7/3/1939
1  Western Australia     6522  Australia  Australia   9/27/1979
2           Victoria     3380  Australia  Australia   5/26/1947
3    South Australia     5223  Australia  Australia   9/17/1957
4           Victoria     3698  Australia  Australia  11/19/1965
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB
None

In [2]:
# Step 1: Handle Missing Values for State Code
customers['State Code'].fillna('Unknown', inplace=True)

# Step 2: Convert 'Birthday' to datetime
customers['Birthday'] = pd.to_datetime(customers['Birthday'], format='%m/%d/%Y', errors='coerce')

# Step 3: Calculate Age
customers['Age'] = (pd.to_datetime('today') - customers['Birthday']).dt.days // 365

# Check the updated dataframe info
print(customers.info())

# Optionally, check the first few rows again
print(customers.head())

# Save the cleaned dataset
customers.to_csv('C:/Users/manis/Downloads/Cleaned_Customers.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
 10  Age          15266 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 1.3+ MB
None
   CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  WANDEARAH EAST         SA
1          325  Female       Madison Hull      MOUNT BUDD         WA
2          554  Female      Claire Ferres       WINJALLOK        VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER         SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH        VIC

               State Zip Code    Country  Continent   Birthday  Age
0    South Australia     5523  Australia  Australia 1939-07-03   85
1  Western Australia     6522  Australia  Australia 1979-09-27   45
2           Victoria     3380  Australia  Australia 1947-05-26   77
3    South Australia     5223  Australia  Australia 1957-09-17   67
4           Victoria     3698  Australia  Australia 1965-11-19   58

In [3]:
import pandas as pd

# Load the Exchange Rates dataset
exchange_rates = pd.read_csv(r'C:\Users\manis\Downloads\Exchange_rates.csv', encoding='latin1')

# Display the first few rows and general information about the dataset
print(exchange_rates.head())
print(exchange_rates.info())

       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB
None

In [4]:
# Step 1: Convert 'Date' to datetime
exchange_rates['Date'] = pd.to_datetime(exchange_rates['Date'], format='%m/%d/%Y', errors='coerce')

# Step 2: Check for duplicates
duplicates = exchange_rates.duplicated(subset=['Date', 'Currency']).sum()
print(f"Number of duplicate entries: {duplicates}")

# Step 3: Strip any whitespace in the 'Currency' column
exchange_rates['Currency'] = exchange_rates['Currency'].str.strip()

# Check the updated dataframe info
print(exchange_rates.info())

# Optionally, check the first few rows again
print(exchange_rates.head())

# Save the cleaned dataset
exchange_rates.to_csv('C:/Users/manis/Downloads/Cleaned_Exchange_Rates.csv', index=False)

Number of duplicate entries: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB
None
        Date Currency  Exchange
0 2015-01-01      USD    1.0000
1 2015-01-01      CAD    1.1583
2 2015-01-01      AUD    1.2214
3 2015-01-01      EUR    0.8237
4 2015-01-01      GBP    0.6415

In [5]:
import pandas as pd

# Load the Sales dataset
sales = pd.read_csv(r'C:\Users\manis\Downloads\Sales.csv', encoding='latin1')

# Display the first few rows and general information about the dataset
print(sales.head())
print(sales.info())

   Order Number  Line Item Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1   1/1/2016           NaN       265598        10
1        366001          1   1/1/2016     1/13/2016      1269051         0
2        366001          2   1/1/2016     1/13/2016      1269051         0
3        366002          1   1/1/2016     1/12/2016       266019         0
4        366002          2   1/1/2016     1/12/2016       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB
None

In [6]:
# Step 1: Convert date columns to datetime
sales['Order Date'] = pd.to_datetime(sales['Order Date'], format='%m/%d/%Y', errors='coerce')
sales['Delivery Date'] = pd.to_datetime(sales['Delivery Date'], format='%m/%d/%Y', errors='coerce')

# Step 2: Handle missing values in Delivery Date
# Option 1: Fill with a specific date or keep as NaT
# sales['Delivery Date'].fillna(pd.Timestamp('today'), inplace=True)  # Uncomment if you want to fill
# Option 2: Drop rows with missing Delivery Date
# sales.dropna(subset=['Delivery Date'], inplace=True)  # Uncomment to drop rows

# Step 3: Check for duplicates
duplicates = sales.duplicated().sum()
print(f"Number of duplicate entries: {duplicates}")

# Display updated info
print(sales.info())

Number of duplicate entries: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  13165 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 4.3+ MB
None

In [7]:
import pandas as pd

# Load the Stores.csv data
stores = pd.read_csv('C:\\Users\\manis\\Downloads\\Stores.csv', encoding='latin1')

# Display the first few rows and data information
print(stores.head())
print(stores.info())

   StoreKey    Country                         State  Square Meters  Open Date
0         1  Australia  Australian Capital Territory          595.0   1/1/2008
1         2  Australia            Northern Territory          665.0  1/12/2008
2         3  Australia               South Australia         2000.0   1/7/2012
3         4  Australia                      Tasmania         2000.0   1/1/2010
4         5  Australia                      Victoria         2000.0  12/9/2015
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB
None

In [8]:
# Check for missing values
missing_values = stores.isnull().sum()
print("Missing Values:\n", missing_values)

# Check for duplicates
duplicates = stores.duplicated().sum()
print("Number of duplicate entries:", duplicates)

# Convert 'Open Date' to datetime format
stores['Open Date'] = pd.to_datetime(stores['Open Date'], format='%m/%d/%Y', errors='coerce')

# Handle missing values in 'Square Meters' (let's fill it with the mean as an example)
mean_square_meters = stores['Square Meters'].mean()
stores['Square Meters'].fillna(mean_square_meters, inplace=True)

# Final data information after cleaning
print(stores.info())

Missing Values:
 StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64
Number of duplicate entries: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     float64
 4   Open Date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB
None

In [9]:
import pandas as pd

# Load the Stores.csv data
Products = pd.read_csv('C:\\Users\\manis\\Downloads\\Products.csv', encoding='latin1')

# Display the first few rows and data information
print(Products.head())
print(Products.info())

   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

  Unit Cost USD Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0        $6.62         $12.99              101     MP4&MP3            1
1        $6.62         $12.99              101     MP4&MP3            1
2        $7.40         $14.52              101     MP4&MP3            1
3       $11.00         $21.57              101     MP4&MP3            1
4       $11.00         $21.57              101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB
None

In [10]:
import pandas as pd

# Load the Products data
products = pd.read_csv('C:\\Users\\manis\\Downloads\\Products.csv', encoding='latin1')

# Check for missing values
missing_values = products.isnull().sum()
print("Missing Values:\n", missing_values)

# Check for duplicate entries
duplicate_count = products.duplicated().sum()
print("Number of duplicate entries:", duplicate_count)

# Convert 'Unit Cost USD' and 'Unit Price USD' to numeric
products['Unit Cost USD'] = products['Unit Cost USD'].replace({'\$': '', ',': ''}, regex=True).astype(float)
products['Unit Price USD'] = products['Unit Price USD'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Convert other columns to string type if necessary
products['Product Name'] = products['Product Name'].astype(str)
products['Brand'] = products['Brand'].astype(str)
products['Color'] = products['Color'].astype(str)
products['Subcategory'] = products['Subcategory'].astype(str)
products['Category'] = products['Category'].astype(str)

# Standardize column names (optional)
products.columns = products.columns.str.strip()

# Display cleaned data information
print(products.info())
print(products.head())

# Save the cleaned data to a new CSV file
products.to_csv('C:\\Users\\manis\\Downloads\\Cleaned_Products.csv', index=False)

Missing Values:
 ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64
Number of duplicate entries: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB
None
   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

   Unit Cost USD  Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0           6.62           12.99             101     MP4&MP3            1
1           6.62           12.99             101     MP4&MP3            1
2           7.40           14.52             101     MP4&MP3            1
3          11.00           21.57             101     MP4&MP3            1
4          11.00           21.57             101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [11]:
import pandas as pd

# Load the Sales data
sales = pd.read_csv(r'C:\Users\manis\Downloads\Sales.csv', encoding='latin1')

# Display the first few rows and info
print(sales.head())
print(sales.info())

# Check for missing values
print(sales.isnull().sum())

# Clean the data
# Example: Convert 'Order Date' and 'Delivery Date' to datetime
sales['Order Date'] = pd.to_datetime(sales['Order Date'])
sales['Delivery Date'] = pd.to_datetime(sales['Delivery Date'])

# Fill or drop missing values if necessary
sales['Delivery Date'].fillna('No Delivery Date', inplace=True)

# Check for duplicates
duplicates = sales.duplicated().sum()
print(f'Number of duplicate entries: {duplicates}')

# Save the cleaned sales data
sales.to_csv('cleaned_sales.csv', index=False)

   Order Number  Line Item Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1   1/1/2016           NaN       265598        10
1        366001          1   1/1/2016     1/13/2016      1269051         0
2        366001          2   1/1/2016     1/13/2016      1269051         0
3        366002          1   1/1/2016     1/12/2016       266019         0
4        366002          2   1/1/2016     1/12/2016       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB
None
Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64
Number of duplicate entries: 0

C:\Users\manis\AppData\Local\Temp\ipykernel_264\3425328389.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'No Delivery Date' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  sales['Delivery Date'].fillna('No Delivery Date', inplace=True)

In [12]:
# Load the Stores data
stores = pd.read_csv(r'C:\Users\manis\Downloads\Stores.csv', encoding='latin1')

# Display the first few rows and info
print(stores.head())
print(stores.info())

# Check for missing values
print(stores.isnull().sum())

# Clean the data
# Example: Convert 'Open Date' to datetime
stores['Open Date'] = pd.to_datetime(stores['Open Date'])

# Fill or drop missing values if necessary
stores['Square Meters'].fillna(stores['Square Meters'].mean(), inplace=True)

# Check for duplicates
duplicates = stores.duplicated().sum()
print(f'Number of duplicate entries: {duplicates}')

# Save the cleaned stores data
stores.to_csv('cleaned_stores.csv', index=False)

   StoreKey    Country                         State  Square Meters  Open Date
0         1  Australia  Australian Capital Territory          595.0   1/1/2008
1         2  Australia            Northern Territory          665.0  1/12/2008
2         3  Australia               South Australia         2000.0   1/7/2012
3         4  Australia                      Tasmania         2000.0   1/1/2010
4         5  Australia                      Victoria         2000.0  12/9/2015
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB
None
StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64
Number of duplicate entries: 0

In [13]:
import pandas as pd

# Load the cleaned datasets
sales = pd.read_csv('cleaned_sales.csv', encoding='latin1')
products = pd.read_csv('C:\\Users\\manis\\Downloads\\Cleaned_Products.csv', encoding='latin1')
stores = pd.read_csv('cleaned_stores.csv', encoding='latin1')
customers = pd.read_csv('C:\\Users\\manis\\Downloads\\Cleaned_Customers.csv', encoding='latin1')
exchange_rates = pd.read_csv('C:\\Users\\manis\\Downloads\\Cleaned_Exchange_Rates.csv', encoding='latin1')

# Merging Sales with Products
sales_products = pd.merge(sales, products, on='ProductKey', how='left')

# Merging the result with Customers
sales_products_customers = pd.merge(sales_products, customers, on='CustomerKey', how='left')

# Merging the result with Stores
sales_products_customers_stores = pd.merge(sales_products_customers, stores, on='StoreKey', how='left')

# Check the columns before merging with Exchange Rates
print("Columns in sales_products_customers_stores:")
print(sales_products_customers_stores.columns)
print("Columns in exchange_rates:")
print(exchange_rates.columns)

# Rename Currency in exchange_rates to match Currency Code
exchange_rates.rename(columns={'Currency': 'Currency Code'}, inplace=True)

# Now, ensure both DataFrames have the Currency Code column
if 'Currency Code' in sales_products_customers_stores.columns and 'Currency Code' in exchange_rates.columns:
    # Merging with Exchange Rates
    full_data = pd.merge(
        sales_products_customers_stores,
        exchange_rates,
        left_on=['Order Date', 'Currency Code'],
        right_on=['Date', 'Currency Code'],
        how='left'
    )
    print(full_data.head())
else:
    print("Currency Code not found in one or both DataFrames.")

# Save the merged dataset if the merge is successful
# full_data.to_csv('merged_data_with_exchange_rates.csv', index=False)

Columns in sales_products_customers_stores:
Index(['Order Number', 'Line Item', 'Order Date', 'Delivery Date',
       'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code',
       'Product Name', 'Brand', 'Color', 'Unit Cost USD', 'Unit Price USD',
       'SubcategoryKey', 'Subcategory', 'CategoryKey', 'Category', 'Gender',
       'Name', 'City', 'State Code', 'State_x', 'Zip Code', 'Country_x',
       'Continent', 'Birthday', 'Age', 'Country_y', 'State_y', 'Square Meters',
       'Open Date'],
      dtype='object')
Columns in exchange_rates:
Index(['Date', 'Currency', 'Exchange'], dtype='object')
   Order Number  Line Item  Order Date        Delivery Date  CustomerKey  \
0        366000          1  2016-01-01     No Delivery Date       265598
1        366001          1  2016-01-01  2016-01-13 00:00:00      1269051
2        366001          2  2016-01-01  2016-01-13 00:00:00      1269051
3        366002          1  2016-01-01  2016-01-12 00:00:00       266019
4        366002          2  2016-01-01  2016-01-12 00:00:00       266019

   StoreKey  ProductKey  Quantity Currency Code  \
0        10        1304         1           CAD
1         0        1048         2           USD
2         0        2007         1           USD
3         0        1106         7           CAD
4         0         373         1           CAD

                             Product Name  ...      Country_x      Continent  \
0         Contoso Lens Adapter M450 White  ...         Canada  North America
1         A. Datum SLR Camera X136 Silver  ...  United States  North America
2  Fabrikam Microwave 1.5CuFt X1100 Black  ...  United States  North America
3          Contoso SLR Camera M146 Orange  ...         Canada  North America
4   Adventure Works Laptop8.9 E0890 White  ...         Canada  North America

     Birthday  Age  Country_y  State_y  Square Meters   Open Date        Date  \
0  1971-03-23   53     Canada  Nunavut     1210.00000  2015-04-04  2016-01-01
1  1995-11-20   28     Online   Online     1402.19697  2010-01-01  2016-01-01
2  1995-11-20   28     Online   Online     1402.19697  2010-01-01  2016-01-01
3  1962-08-24   62     Online   Online     1402.19697  2010-01-01  2016-01-01
4  1962-08-24   62     Online   Online     1402.19697  2010-01-01  2016-01-01

  Exchange
0   1.3884
1   1.0000
2   1.0000
3   1.3884
4   1.3884

[5 rows x 34 columns]

In [14]:
# Assuming previous merges have been performed
# Rename Currency in exchange_rates to match Currency Code
exchange_rates.rename(columns={'Currency': 'Currency Code'}, inplace=True)

# Convert 'Order Date' and 'Date' to datetime format if not already done
sales_products_customers_stores['Order Date'] = pd.to_datetime(sales_products_customers_stores['Order Date'])
exchange_rates['Date'] = pd.to_datetime(exchange_rates['Date'])

# Perform the merge with Exchange Rates
full_data = pd.merge(
    sales_products_customers_stores,
    exchange_rates,
    left_on=['Order Date', 'Currency Code'],
    right_on=['Date', 'Currency Code'],
    how='left'
)

# Check the result of the merged DataFrame
print(full_data.head())

# Save the merged dataset if the merge is successful
full_data.to_csv('merged_data_with_exchange_rates.csv', index=False)

   Order Number  Line Item Order Date        Delivery Date  CustomerKey  \
0        366000          1 2016-01-01     No Delivery Date       265598
1        366001          1 2016-01-01  2016-01-13 00:00:00      1269051
2        366001          2 2016-01-01  2016-01-13 00:00:00      1269051
3        366002          1 2016-01-01  2016-01-12 00:00:00       266019
4        366002          2 2016-01-01  2016-01-12 00:00:00       266019

   StoreKey  ProductKey  Quantity Currency Code  \
0        10        1304         1           CAD
1         0        1048         2           USD
2         0        2007         1           USD
3         0        1106         7           CAD
4         0         373         1           CAD

                             Product Name  ...      Country_x      Continent  \
0         Contoso Lens Adapter M450 White  ...         Canada  North America
1         A. Datum SLR Camera X136 Silver  ...  United States  North America
2  Fabrikam Microwave 1.5CuFt X1100 Black  ...  United States  North America
3          Contoso SLR Camera M146 Orange  ...         Canada  North America
4   Adventure Works Laptop8.9 E0890 White  ...         Canada  North America

     Birthday  Age  Country_y  State_y  Square Meters   Open Date       Date  \
0  1971-03-23   53     Canada  Nunavut     1210.00000  2015-04-04 2016-01-01
1  1995-11-20   28     Online   Online     1402.19697  2010-01-01 2016-01-01
2  1995-11-20   28     Online   Online     1402.19697  2010-01-01 2016-01-01
3  1962-08-24   62     Online   Online     1402.19697  2010-01-01 2016-01-01
4  1962-08-24   62     Online   Online     1402.19697  2010-01-01 2016-01-01

  Exchange
0   1.3884
1   1.0000
2   1.0000
3   1.3884
4   1.3884

[5 rows x 34 columns]

In [15]:
print(full_data.isnull().sum())

Order Number      0
Line Item         0
Order Date        0
Delivery Date     0
CustomerKey       0
StoreKey          0
ProductKey        0
Quantity          0
Currency Code     0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
Gender            0
Name              0
City              0
State Code        0
State_x           0
Zip Code          0
Country_x         0
Continent         0
Birthday          0
Age               0
Country_y         0
State_y           0
Square Meters     0
Open Date         0
Date              0
Exchange          0
dtype: int64

In [16]:
full_data.to_csv('merged_full_data.csv', index=False)

In [17]:
print(full_data.dtypes)

Order Number               int64
Line Item                  int64
Order Date        datetime64[ns]
Delivery Date             object
CustomerKey                int64
StoreKey                   int64
ProductKey                 int64
Quantity                   int64
Currency Code             object
Product Name              object
Brand                     object
Color                     object
Unit Cost USD            float64
Unit Price USD           float64
SubcategoryKey             int64
Subcategory               object
CategoryKey                int64
Category                  object
Gender                    object
Name                      object
City                      object
State Code                object
State_x                   object
Zip Code                  object
Country_x                 object
Continent                 object
Birthday                  object
Age                        int64
Country_y                 object
State_y                   object
Square Meters            float64
Open Date                 object
Date              datetime64[ns]
Exchange                 float64
dtype: object

In [18]:
df_cleaned = full_data.dropna(subset=['Delivery Date'])

In [19]:
import pandas as pd

# Assuming full_data is your DataFrame
full_data['Delivery Date'].fillna(pd.Timestamp('2023-01-01'), inplace=True)

In [20]:
!pip install pandas sqlalchemy mysql-connector-python

Requirement already satisfied: pandas in c:\users\manis\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: sqlalchemy in c:\users\manis\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: mysql-connector-python in c:\users\manis\anaconda3\lib\site-packages (9.0.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\manis\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manis\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\manis\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\manis\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\manis\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [25]:
import pandas as pd

# Load your CSV
full_data = pd.read_csv('C:\\Users\\manis\\merged_full_data.csv')

# Replace 'No Delivery Date' with NaT (or any placeholder like '1900-01-01')
full_data['Delivery Date'] = full_data['Delivery Date'].replace('No Delivery Date', pd.NaT)

# Optionally, you can fill NaT with NULL or a placeholder date
full_data['Delivery Date'].fillna('NULL', inplace=True)  # or you could use '1900-01-01'

# Save the modified DataFrame back to CSV
full_data.to_csv('C:\\Users\\manis\\modified_merged_full_data.csv', index=False)

In [23]:
import pandas as pd

# Load the data from the CSV
data = pd.read_csv(r'C:\Users\manis\OneDrive\Desktop\merged_full_data - Copy.csv', encoding='latin1')

# Rename columns by replacing spaces with underscores
data.columns = [col.strip().replace(" ", "_").lower() for col in data.columns]

# Save the modified CSV back (optional, if you want to use this in MySQL directly)
data.to_csv(r'C:\Users\manis\OneDrive\Desktop\modified_merged_full_data.csv', index=False)

In [24]:
import pandas as pd
import mysql.connector

# Load the CSV data
data = pd.read_csv(r'C:\Users\manis\OneDrive\Desktop\merged_full_data - Copy.csv', encoding='latin1')

# Print original columns to verify them
print("Original columns in DataFrame:", data.columns.tolist())

# Rename columns to match MySQL table schema
data.rename(columns={
    'Order Number': 'order_number',
    'Line Item': 'line_item',
    'Order Date': 'order_date',
    'Delivery Date': 'delivery_date',
    'CustomerKey': 'customer_key',
    'StoreKey': 'store_key',
    'ProductKey': 'product_key',
    'Quantity': 'quantity',
    'Currency Code': 'currency_code',
    'Product Name': 'product_name',
    'Brand': 'brand',
    'Color': 'color',
    'Unit Cost USD': 'unit_cost_usd',
    'Unit Price USD': 'unit_price_usd',
    'SubcategoryKey': 'subcategory_key',
    'Subcategory': 'subcategory',
    'CategoryKey': 'category_key',
    'Category': 'category',
    'Gender': 'gender',
    'Name': 'name',
    'City': 'city',
    'State Code': 'state_code',
    'State_x': 'state_x',
    'Zip Code': 'zip_code',
    'Country_x': 'country_x',
    'Continent': 'continent',
    'Birthday': 'birthday',
    'Age': 'age',
    'Country_y': 'country_y',
    'State_y': 'state_y',
    'Square Meters': 'square_meters',
    'Open Date': 'open_date',
    'Exchange': 'Exchanges'
}, inplace=True)

# Remove the 'date' column if it exists
data.drop(columns=[col for col in data.columns if col.strip().lower() == 'date'], inplace=True, errors='ignore')

# Convert date columns using a specific format if known, otherwise handle errors by coercion
# Example format: '%Y-%m-%d' (change this if your format is different)
data['order_date'] = pd.to_datetime(data['order_date'], format='%Y-%m-%d', errors='coerce')
data['delivery_date'] = pd.to_datetime(data['delivery_date'], format='%Y-%m-%d', errors='coerce')
data['birthday'] = pd.to_datetime(data['birthday'], format='%Y-%m-%d', errors='coerce')
data['open_date'] = pd.to_datetime(data['open_date'], format='%Y-%m-%d', errors='coerce')

# Verify the modified DataFrame columns
print("Columns after modification:", data.columns.tolist())

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Manish@2001",  # Replace with your MySQL password
    database="eda1"  # Ensure this database exists
)
cursor = conn.cursor()

# Prepare the insert statement dynamically based on DataFrame columns
columns = list(data.columns)  # Get column names from DataFrame
placeholders = ', '.join(['%s'] * len(columns))  # Create placeholders for SQL
insert_query = f"INSERT INTO merged_full_data ({', '.join(columns)}) VALUES ({placeholders})"

# Insert each row of data
for index, row in data.iterrows():
    # Convert NaT/NaN to None for MySQL
    row = tuple(None if pd.isna(val) else val for val in row)
    try:
        cursor.execute(insert_query, row)
    except mysql.connector.Error as err:
        print(f"Error at row {index}: {err}")  # Print the error if there's one

# Commit the transaction
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

Original columns in DataFrame: ['Order Number', 'Line Item', 'Order Date', 'Delivery Date', 'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code', 'Product Name', 'Brand', 'Color', 'Unit Cost USD', 'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey', 'Category', 'Gender', 'Name', 'City', 'State Code', 'State_x', 'Zip Code', 'Country_x', 'Continent', 'Birthday', 'Age', 'Country_y', 'State_y', 'Square Meters', 'Open Date', 'Date', 'Exchange']
Columns after modification: ['order_number', 'line_item', 'order_date', 'delivery_date', 'customer_key', 'store_key', 'product_key', 'quantity', 'currency_code', 'product_name', 'brand', 'color', 'unit_cost_usd', 'unit_price_usd', 'subcategory_key', 'subcategory', 'category_key', 'category', 'gender', 'name', 'city', 'state_code', 'state_x', 'zip_code', 'country_x', 'continent', 'birthday', 'age', 'country_y', 'state_y', 'square_meters', 'open_date', 'Exchanges']